keras==3.3.3
keras-tuner==1.4.7
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
scikit-learn==1.4.2
scipy==1.13.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
